.content-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightpink);
    color: white;
    padding: 120px 0 60px 0;
}
.content-text-wrapper{
    height: fit-content;
    width: 50%;
    background-color: var(--pink);
    padding: 25px 50px;
    border-radius: 50px;
    text-align: center;
    box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.27);
}
@media only screen and (max-width: 800px) {
    .content-text-wrapper{
        width: 70%;
    }
}